{% extends 'admin.html.twig' %}

{% block title %}
	Gestion des jeux
{% endblock %}

{% block content %}
	<div class="container">
		<div class="mt-4">
			<div class="text-center text-sm-right">
				<div class="add-game-button">
					<a class="mt-4" href="{{path('admin_add') }}">
						<button type="button" class="btn btn-primary btn-lg text-white rounded-circle">
							<i class="fas fa-plus"></i>
						</button>
					</a>
				</div>
			</div>
			<div class="table-responsive">
				<table class="table table-striped text-center">
					<thead>
						<tr>
							<th scope="col">#</th>
							<th scope="col">Nom</th>
							<th scope="col">Image</th>
							<th scope="col">Description</th>
							<th scope="col">Prix</th>
							<th scope="col">Pegi</th>
							<th scope="col">Slug</th>
							<th scope="col">Action</th>
						</tr>
					</thead>
					<tbody>
						{% for game in games %}
							<tr>
								<td>{{ game.id }}</td>
								<td>{{ game.name }}</td>
								<td><img src="{{ asset('gameImages/'~game.imgurl) }}" height="80px"/></td>
								<td>{{ game.description | slice(0,30) }}...</td>
								<td>{{ game.price}}
									€</td>
								<td>{{ game.pegi }}</td>
								<td>{{ game.slug }}</td>
								<td>
									<a href="{{ path('admin_update', { id : game.id }) }}">
										<button type="button" class="btn btn-primary btn-sm">
											<i class="fas fa-edit text-white"></i>
										</button>
									</a>
									<button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#delete{{ game.id }}">
										<i class="fas fa-trash "></i>
									</button>
									<!-- Modal -->
									<div class="modal fade" id="delete{{ game.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
										<div class="modal-dialog" role="document">
											<div class="modal-content">
												<div class="modal-header">
													<h5 class="modal-title" id="delete{{ game.id }}">Attention</h5>
													<button type="button" class="close" data-dismiss="modal" aria-label="Close">
														<span aria-hidden="true">&times;</span>
													</button>
												</div>
												<div class="modal-body">
													Voulez vous vraiment supprimer
													{{ game.name}}
													?
												</div>
												<div class="modal-footer">
													<button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
													<a href="{{ path('admin_delete_game', { id : game.id }) }}">
														<button type="button" class="btn btn-danger">Supprimer</button>
													</a>
												</div>
											</div>
										</div>
									</div>
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
		<div>


		{% endblock %}
