{% extends 'admin.html.twig' %}

{% block title %}
	Dashboard
{% endblock %}

{% block content %}


	<h2>5 derniers comptes créés</h2>
	<div class="table-responsive">
		<table class="table text-center table-striped table-sm">
			<thead>
				<tr>
					<th>#</th>
					<th>Nom</th>
					<th>Prénom</th>
					<th>DAte d'anniversaire</th>
					<th>Solde</th>
				</tr>
			</thead>
			<tbody>
				{% for user in lastUsers %}
					<tr>
						<td>{{ user.profile.id }}</td>
						<td>{{ user.profile.firstname }}</td>
						<td>{{ user.profile.lastname }}</td>
						<td>{{ user.profile.registerDate | date("m/d/Y") }}</td>
						<td>{{ user.profile.balance }} €</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>

	<h2>5 dernières commandes</h2>
	<div class="table-responsive">
		<table class="table text-center table-striped table-sm">
			<thead>
				<tr>
					<th>#</th>
					<th>Utilisateur</th>
					<th>Date</th>
					<th>Facture</th>
					<th>Prix</th>
				</tr>
			</thead>
			<tbody>
				{% for invoice in lastInvoices %}
					<tr>
						<td>{{ invoice.id }}</td>
						<td>{{ invoice.profile.firstname }}
							{{ invoice.profile.lastname }}</td>
						<td>{{ invoice.purchaseDate | date('d/m/Y') }}</td>
						<td>{{ invoice.id }}</td>
						<td>{{ invoice.price }}
							€</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>

	<h2>5 derniers avis</h2>
	<div class="table-responsive">
		<table class="table text-center table-striped table-sm">
			<thead>
				<tr>
					<th>#</th>
					<th>Nom</th>
					<th>Prénom</th>
					<th>Jeu</th>
					<th>Note</th>
				</tr>
			</thead>
			<tbody>
				
			</tbody>
		</table>
	</div>
{% endblock %}
