{% extends 'base.html.twig' %}

{% block header %}{% endblock %}

{% block messages %}{% endblock %}


{% block stylesheet %}

{% endblock %}

{% block body %}
<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top d-lg-none d-md-flex text-center">
	<a class="navbar-brand" href="{{ path('index')}}"><img src="{{ asset('/img/logo-withoutbg.png')}}" alt="Logo"
			height="50" /></a>
	<button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse"
		data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false"
		aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarTogglerDemo02">
		<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
			{% if app.user == null %}
			<li class="nav-item mb-2">
				<a href="{{ path('admin_profile') }}">Connexion</a>
			</li>
			{% elseif is_granted("ROLE_ADMIN") %}
			<li class="nav-item mb-2">
				<a href="{{ path('admin_index')}}">Dashboard</a> / <a class="text-danger"
					href="{{ path('logout')}}">Déconnexion</a>
			</li>			{% else %}
			<li class="nav-item mb-2">
				<a href="{{ path('profile')}}">Mon compte</a> / <a class="text-danger"
					href="{{ path('logout')}}">Déconnexion</a>
			</li>
			{% endif %}
			<li class="nav-item">
				<a class="nav-link" href="{{ path('admin_profile') }}">Mes informations</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{{ path('admin_orders') }}">Les ventes</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{{ path('admin_games') }}">Les jeux</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{{ path('admin_users') }}">Les utilisateurs</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{{ path('admin_opinions') }}">Les avis</a>
			</li>
		</ul>
		<form action="{{ path('search_game') }}" method="post" class="input-group mb-3">
			<input type="text" class="form-control" name="search" placeholder="Rechercher un jeu ...">
			<div class="input-group-append">
				<button class="btn btn-custom" type="submit">
					<i class="fas fa-search"></i>
				</button>
			</div>
		</form>
	</div>
</nav>

<main class="container-fluid">
	<div class="row min-vh-100">
		<nav class="col-md-2 pt-4 d-none d-md-block bg-light sidebar">
			<div class="sidebar-sticky pl-5">
				<div class="mt-4 pl-3 pb-3">

					{% if app.user.profile.picture != null %}
					<img src="{{ asset(app.user.profile.picture) }}" alt="Photo de profil"
						class="rounded-circle ml-1 mb-3" height="100" width="100">
					{% else %}
					<img src="https://semantic-ui.com/images/wireframe/image.png" alt="Photo de profil"
						class="rounded-circle ml-1 mb-3" height="100" width="100">
					{% endif %}


					<br />
					<span class="font-weight-bold">
						{{ app.user.profile.firstname }}
						{{ app.user.profile.lastname }}
					</span>
					<br />
					<span class="text-muted font-italic">
						{{ app.user.email }}
					</span>
				</div>
				<ul class="nav flex-column mt-5 pt-5">
					<li class="nav-item pb-4">
						<a class="nav-link text-dark h5" href="{{ path('admin_index') }}">
							<i class="fas fa-tachometer-alt mr-2 text-primary" style="font-size: 17px;"></i>
							Dashboard
						</a>
					</li>
					<li class="nav-item pb-4">
						<a class="nav-link text-dark h5" href="{{ path('admin_orders') }}">
							<i class="fas fa-receipt mr-3 text-primary" style="font-size: 17px;"></i>
							Ventes
						</a>
					</li>
					<li class="nav-item pb-4">
						<a class="nav-link text-dark h5" href="{{ path('admin_games') }}">
							<i class="fas fa-gamepad mr-2 text-primary" style="font-size: 17px;"></i>
							Jeux
						</a>
					</li>
					<li class="nav-item pb-4">
						<a class="nav-link text-dark h5" href="{{ path('admin_users') }}">
							<i class="fas fa-users mr-2 text-primary" style="font-size: 17px;"></i>
							Utilisateurs
						</a>
					</li>
					<li class="nav-item pb-4">
						<a class="nav-link text-dark h5" href="{{ path('admin_opinions') }}">
							<i class="fas fa-comments mr-2 text-primary" style="font-size: 17px;"></i>
							Commentaires
						</a>
					</li>
					<li class="nav-item pb-4">
						<a class="nav-link text-dark h5" href="{{ path('admin_profile') }}">
							<i class="fas fa-user-alt mr-2 text-primary" style="font-size: 17px;"></i>
							Mes informations
						</a>
					</li>
				</ul>
			</div>
		</nav>
		<div class="col-10 pt-4 px-5 screen">
			<div class="pt-4">
				<div class="d-flex justify-content-between mb-4">
					<h1 class="h3">
						{% block title %} {% endblock %}
					</h1>

					<a href="{{ path('index') }}" class="h5 back-responsive">
						<i class="fas fa-arrow-left fa-4x" style="font-size: 36px; margin-right: 5px;"></i>
					</a>

					<div class="before-responsive">
						<a href="{{ path('index') }}" class="h5">
							<i class="fas fa-arrow-left" style="font-size: 16px;"></i>
							Retour au site
						</a>
					</div>
				</div>
				<div class="container">
					{% for message in app.flashes('success') %}
					<div class="alert alert-success mt-4 text-center">
						{{ message }}
					</div>
					{% endfor %}

					{% for message in app.flashes('error') %}
					<div class="alert alert-danger mt-4 text-center">
						{{ message }}
					</div>
					{% endfor %}
				</div>
			</div>
			{% block content %}{% endblock %}
		</div>
	</div>
</main>
{% endblock %}


{% block javascripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
<script>
	var ctx = document.getElementById("myChart");
	var myChart = new Chart(ctx, {
		type: 'line',
		data: {
			labels: [
				"Sunday",
				"Monday",
				"Tuesday",
				"Wednesday",
				"Thursday",
				"Friday",
				"Saturday"
			],
			datasets: [

{% block footer %}{% endblock %}
				{
					data: [
						12,
						19,
						9,
						13,
						17,
						18,
						15
					],
					lineTension: 0,
					backgroundColor: 'transparent',
					borderColor: '#007bff',
					borderWidth: 4,
					pointBackgroundColor: '#007bff'
				}
			]
		},
		options: {
			scales: {
				yAxes: [
					{
						ticks: {
							beginAtZero: false
						}
					}
				]
			},
			legend: {
				display: false
			}
		}
	});
</script>
{% endblock %}