<!DOCTYPE html>
<html lang="fr">

<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="Votre site web d'achat de jeux vidéo préféré !">
	<meta name="author" content="Weder and Sheraw">

	<title>
		{% block title %}{% endblock %} - PIXES
	</title>

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>
	<script src="https://kit.fontawesome.com/e2548655e8.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="{{ asset('build/app.css') }}" />

	{# CUSTOM STYLE #}
	{% block stylesheet %}{% endblock %}

</head>


<body>
	<header class="d-flex justify-content-around align-items-center mt-2 mb-3">
		<a href="{{ path('index')}}">
			<img src="" alt="Logo" />
		</a>

		<div class="d-flex flex-column align-items-end">
			<div class="btns-header ">
				{% if app.user == null %}
				<a href="{{ path('login')}}" class="btn-left separator-r">Connexion</a>
				<a href="{{ path('register')}}" class="btn-right">Inscription</a>
				{% else %}
					<a href="{{ path('profile')}}" class="btn-simple"><i class="fas fa-user text-white pr-2"></i> Mon compte</a>
				{% endif %} 	
			</div>
			<form class="input-group mt-2">
				<input type="text" class="form-custom" name="search">
				<div class="input-group-append">
					<button class="btn btn-custom" type="button"><i class="fas fa-search"></i></button>
				</div>
			</form>
		</div>
	</header>

	{# SUCCESS & ERROR MESSAGES #}
	<div class="container">
		{% for message in app.flashes('success') %}
		<div class="alert alert-success mt-4">
			{{ message }}
		</div>
		{% endfor %}

		{% for message in app.flashes('error') %}
		<div class="alert alert-danger mt-4">
			{{ message }}
		</div>
		{% endfor %}
	</div>

	{# CONTENT #}
	{% block body %}{% endblock %}

	{# CUSTOM JS #}
	{% block javascripts %}{% endblock %}

</body>

</html>