<!DOCTYPE html>
<html lang="fr">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Votre site web d'achat de jeux vidéo préféré !">
	<meta name="author" content="Weder and Sheraw">

	<title>
		{% block title %}{% endblock %} - PIXES
	</title>

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>
	<script src="https://kit.fontawesome.com/e2548655e8.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="{{ asset('build/app.css') }}" />

	{# CUSTOM STYLE #}
	{% block stylesheet %}
	{% endblock %}

</head>


<body>
	{% block header %}
	<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top d-lg-none d-md-flex text-center">
		<a class="navbar-brand" href="{{ path('index')}}"><img src="{{ asset('/img/logo-withoutbg.png')}}" alt="Logo"
				height="50" /></a>
		<button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse"
			data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarTogglerDemo02">
			<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
				{% if app.user == null %}
				<li class="nav-item mb-2">
					<a href="{{ path('register')}}">Inscription</a> / <a href="{{ path('login')}}">Connexion</a>
				</li>
				{% elseif is_granted("ROLE_ADMIN") %}
				<li class="nav-item mb-2">
					<a href="{{ path('admin_index')}}">Dashboard</a> / <a class="text-danger"
						href="{{ path('logout')}}">Déconnexion</a>
				</li>
				{% else %}
				<li class="nav-item mb-2">
					<a href="{{ path('profile')}}">Mon compte</a> / <a class="text-danger"
						href="{{ path('logout')}}">Déconnexion</a>
				</li>
				{% endif %}
				<li class="nav-item">
					<a class="nav-link" href="{{ path('index')}}">Accueil</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ path('allgames')}}">Tous les jeux</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ path('cart_index')}}">Panier</a>
				</li>
			</ul>
			<form action="{{ path('search_game') }}" method="post" class="input-group mb-3">
				<input type="text" class="form-control" name="search" placeholder="Rechercher un jeu ...">
				<div class="input-group-append">
					<button class="btn btn-custom" type="submit">
						<i class="fas fa-search"></i>
					</button>
				</div>
			</form>
		</div>
	</nav>

	<header class="justify-content-around align-items-center mt-2 mb-3 d-none d-lg-flex">
		<a href="{{ path('index')}}">
			<img src="{{ asset('/img/logo-withoutbg.png')}}" alt="Logo" class="logo" />
		</a>
		<div class="d-flex flex-column align-items-end">
			<div class="btns-header ">
				{% if app.user == null %}
				<a href="{{ path('login')}}" class="btn-left separator-r">
					Connexion
				</a>
				<a href="{{ path('register')}}" class="btn-right">
					Inscription
				</a>

				{% elseif is_granted("ROLE_ADMIN") %}
				<a href="{{ path('admin_index')}}" class="btn-simple">
					<i class="fas fa-tools text-white pr-2"></i> Dashboard
				</a>
				<a href="{{ path('logout')}}" class="w-auto ml-2 btn btn-primary rounded-circle text-white btn-sm">
					<i class="fas fa-sign-out-alt"></i>
				</a>

				{% else %}
				<a href="{{ path('profile')}}" class="btn-simple">
					<i class="fas fa-user text-white pr-2"></i> Mon
					compte
				</a>
				<a href="{{ path('logout')}}" class="w-auto ml-2 btn btn-primary rounded-circle text-white btn-sm">
					<i class="fas fa-sign-out-alt"></i>
				</a>
				{% endif %}
				<a href="{{ path('cart_index')}}" class="w-auto ml-2 btn btn-primary rounded-circle text-white btn-sm">
					<i class="fas fa-shopping-cart"></i>
				</a>
			</div>
			<form action="{{ path('search_game') }}" method="post" class="input-group mt-2">
				<input type="text" class="form-custom" name="search" placeholder="Rechercher un jeu ...">
				<div class="input-group-append">
					<button class="btn btn-custom" type="submit">
						<i class="fas fa-search"></i>
					</button>
				</div>
			</form>
		</div>
	</header>
	{% endblock %}

	{# SUCCESS & ERROR MESSAGES #}
	{% block messages %}
	<div class="container">
		{% for message in app.flashes('success') %}
		<div class="alert alert-success mt-4 text-center">
			{{ message }}
		</div>
		{% endfor %}

		{% for message in app.flashes('error') %}
		<div class="alert alert-danger mt-4 text-center">
			{{ message }}
		</div>
		{% endfor %}
	</div>
	{% endblock %}

	{# CONTENT #}
	{% block body %}{% endblock %}


	{% block footer %}
	<footer class="page-footer font-small footer-style">
		<!-- Footer Links -->
		<div class="container text-center text-md-left mt-5">
			<div class="row mt-3">
				<div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
					<h6 class="text-uppercase font-weight-bold">PIXES</h6>
					<hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
					<p>Pixes, votre site préféré d'achat de jeux vidéo à moindre coût !</p>
				</div>
				<div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
					<!-- Links -->
					<h6 class="text-uppercase font-weight-bold">Jeux</h6>
					<hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
					<p>
						<a href="{{ path('index')}}">À la une</a>
					</p>
					<p>
						<a href="#">Récents</a>
					</p>
					<p>
						<a href="{{ path('allgames')}}">Tous les jeux</a>
					</p>
				</div>
				<div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
					<h6 class="text-uppercase font-weight-bold">Liens Utiles</h6>
					<hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
					{% if app.user == null %}
					<p>
						<a href="{{ path('register')}}">Inscription</a>
					</p>
					<p>
						<a href="{{ path('login')}}">Connexion</a>
					</p>
					{% elseif is_granted("ROLE_ADMIN") %}
					<p>
						<a href="{{ path('admin_index')}}">Dashboard</a>
					</p>
					<p>
						<a class="text-danger" href="{{ path('logout')}}">Déconnexion</a>
					</p>
					{% else %}
					<p>
						<a href="{{ path('profile')}}">Mon compte</a>
					</p>
					<p>
						<a class="text-danger" href="{{ path('logout')}}">Déconnexion</a>
					</p>
					{% endif %}
					<p>
						<a href="{{ path('cart_index')}}">Mon panier</a>
					</p>
				</div>
				<div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
					<h6 class="text-uppercase font-weight-bold">Contact</h6>
					<hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
					<p>
						<i class="fas fa-home mr-3"></i> 12 Rue Anatole France
					</p>
					<p>
						<i class="fas fa-envelope mr-3"></i> pixes.facture@gmail.com
					</p>
					<p>
						<i class="fas fa-phone mr-3"></i> +33 6 XX XX XX XX
					</p>
				</div>
			</div>
		</div>
		<div class="footer-copyright text-center py-3">© 2020 Copyright :
			<a href="#"> Pixes</a>
		</div>
	</footer>
	{% endblock %}

	{# CUSTOM JS #}
	{% block javascripts %}{% endblock %}

</body>

</html>