{% extends 'base.html.twig' %}

{% block title %}
Mon compte
{% endblock %}

{% block stylesheet %}{% endblock %}

{% block body %}

<div class="container bootstrap snippet">
    <div class="text-center">
        <h1>User name</h1>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <!--left col-->

            <div class="text-center">
                <img src="{{ asset('/img/default.png')}}" class="avatar img-circle img-thumbnail" alt="avatar">
                <p>à changer</p>
            </div>
            </hr><br>


            <ul class="list-group text-center">
                <li class="list-group-item text-muted">Activité
                    <i class="fa fa-dashboard fa-1x"></i>
                </li>

                <li class="list-group-item text-center">
                    <span class="pull-left">
                        <strong>Jeux acheté</strong>
                    </span>
                    12
                </li>

                <li class="list-group-item text-center">
                    <span class="pull-left">
                        <strong>Avis posté</strong>
                    </span>
                    37
                </li>
            </ul>


        </div>
        <!--/col-3-->
        <div class="col-sm-9">
            <ul class="nav nav-tabs">
                <li class="active text-center">
                    <a class="tab-name" data-toggle="tab" href="#profile">Mon profile</a>
                </li>
                <li class="text-center">
                    <a class="tab-name" data-toggle="tab" href="#purchased">Mes jeux</a>
                </li>
                <li class="text-center">
                    <a class="tab-name" data-toggle="tab" href="#comments">Mes avis</a>
                </li>
            </ul>


            <div class="tab-content">

                {# profile #}
                <div class="tab-pane active" id="profile">
                    <div class="text-center mt-4">
                        <h3>Mon profile</h3>
                        <div class="container mt-4">
                            {{ form(ProfileForm) }}
                            <div class="form-group">
                                <div class="col-xs-12">
                                    <br>
                                    <button class="btn btn-lg btn-success" type="submit"><i class="glyphicon glyphicon-ok-sign"></i> Save</button>
                                    <button class="btn btn-lg" type="reset"><i class="fas fa-undo"></i> Annuler</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                {# purchased games #}
                <div class="tab-pane" id="purchased">
                    <div class="text-center mt-4">
                        <h3>Mes jeux achetés</h3>
                        <div class="container mt-4 row justify-content-md-center">


                            <div class="card mb-3" style="max-width: 540px;">
                                <div class="row no-gutters">
                                    <div class="col-md-4">
                                        <img src="{{ asset('/default.png')}}" class="card-img" alt="...">
                                    </div>
                                    <div class="col-md-8">
                                        <div class="card-body">
                                            <h5 class="card-title">TITRE DU JEU</h5>
                                            <p class="card-text">Key : AAAA-ZZZZ-EEEE-RRRR</p>
                                            <p class="card-text"><small class="text-muted">Acheté le</small></p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="card mb-3" style="max-width: 540px;">
                                <div class="row no-gutters">
                                    <div class="col-md-4">
                                        <img src="{{ asset('/default.png')}}" class="card-img" alt="...">
                                    </div>
                                    <div class="col-md-8">
                                        <div class="card-body">
                                            <h5 class="card-title">TITRE DU JEU</h5>
                                            <p class="card-text">Key : AAAA-ZZZZ-EEEE-RRRR</p>
                                            <p class="card-text"><small class="text-muted">Acheté le</small></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card mb-3" style="max-width: 540px;">
                                <div class="row no-gutters">
                                    <div class="col-md-4">
                                        <img src="{{ asset('/default.png')}}" class="card-img" alt="...">
                                    </div>
                                    <div class="col-md-8">
                                        <div class="card-body">
                                            <h5 class="card-title">TITRE DU JEU</h5>
                                            <p class="card-text">Key : AAAA-ZZZZ-EEEE-RRRR</p>
                                            <p class="card-text"><small class="text-muted">Acheté le</small></p>
                                        </div>
                                    </div>
                                </div>
                            </div>



                        </div>
                    </div>
                </div>


                {# comments #}
                <div class="tab-pane" id="comments">

                </div>


            </div>
        </div>
    </div>
    {% endblock %}