{% extends 'base.html.twig' %}

{% block title %}
Mon compte
{% endblock %}

{% block stylesheet %}{% endblock %}

{% block body %}

<div class="container bootstrap snippet">
    <div class="text-center mt-4 mb-4">
        <h2>Bienvenue sur votre profil {{ firstname }}.</h2>
    </div>
    <div class="row">
        <div class="col-sm-3">

            <div class="text-center">
                <img src="{{ asset('/img/default.png')}}" class="avatar img-circle img-thumbnail" alt="avatar">
                <p>à changer</p>
            </div>

            <ul class="list-group text-center">
                <li class="list-group-item text-muted">Activité
                    <i class="fa fa-dashboard fa-1x"></i>
                </li>
                <li class="list-group-item text-center">
                    <span class="pull-left">
                        <strong>Mon solde</strong>
                    </span>
                    {{ balance }} €
                </li>
                <li class="list-group-item text-center">
                    <span class="pull-left">
                        <strong>Jeux acheté</strong>
                    </span>
                    12
                </li>
                <li class="list-group-item text-center">
                    <span class="pull-left">
                        <strong>Avis posté</strong>
                    </span>
                    37
                </li>
            </ul>
        </div>

        <div class="col-sm-9">

            <ul class="nav nav-tabs">
                <li class="active text-center">
                    <a class="tab-name" data-toggle="tab" href="#profile">Mon profil</a>
                </li>
                <li class="text-center">
                    <a class="tab-name" data-toggle="tab" href="#purchased">Mes jeux</a>
                </li>
                <li class="text-center">
                    <a class="tab-name" data-toggle="tab" href="#comments">Mes avis</a>
                </li>
            </ul>


            <div class="tab-content">

                {# profile #}
                <div class="tab-pane active" id="profile">
                    <div class="text-center mt-4">
                        <h3>Mes informations</h3>
                        <div class="container mt-4">
                            {{ form_start(ProfileForm) }}

                            <div class="form-label-group">
                                {{ form_widget(ProfileForm.firstname, 
                                    { 'attr' : 
                                        {
                                            'class' : 'form-control text-center',
                                            }
                                        }
                                    )
                                }}
                                {{ form_errors(ProfileForm.firstname) }}
                                <label for="register_form_email">Prénom</label>
                            </div>

                            <div class="form-label-group">
                                {{ form_widget(ProfileForm.lastname, 
                                    { 'attr' : 
                                        {
                                            'class' : 'form-control text-center',
                                            }
                                        }
                                    )
                                }}
                                {{ form_errors(ProfileForm.lastname) }}
                                <label for="register_form_email">Nom</label>
                            </div>


                            <div class="form-label-group row justify-content-md-center">
                                {{ form_widget(ProfileForm.birthday, 
                                    { 'attr' : 
                                        {
                                            'class' : 'text-center',
                                            }
                                        }
                                    )
                                }}
                                {{ form_errors(ProfileForm.birthday) }}
                            </div>

                            <div class="form-group">
                                <div class="col-xs-12">
                                    <br>
                                    <button class="btn btn-lg btn-primary register" type="submit"><i
                                            class="glyphicon glyphicon-ok-sign"></i> Sauvegarder mes
                                        informations</button>
                                </div>
                            </div>
                            {{ form_end(ProfileForm) }}
                        </div>
                    </div>
                </div>


                {# purchased games #}
                <div class="tab-pane" id="purchased">
                    <div class="text-center mt-4">
                        <h3>Mes jeux achetés</h3>
                        <div class="container mt-4 row justify-content-md-center">


                            <div class="card mb-3" style="max-width: 540px;">
                                <div class="row no-gutters">
                                    <div class="col-md-4">
                                        <img src="{{ asset('/default.png')}}" class="card-img" alt="...">
                                    </div>
                                    <div class="col-md-8">
                                        <div class="card-body">
                                            <h5 class="card-title">TITRE DU JEU</h5>
                                            <p class="card-text">Key : AAAA-ZZZZ-EEEE-RRRR</p>
                                            <p class="card-text"><small class="text-muted">Acheté le</small></p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="card mb-3" style="max-width: 540px;">
                                <div class="row no-gutters">
                                    <div class="col-md-4">
                                        <img src="{{ asset('/default.png')}}" class="card-img" alt="...">
                                    </div>
                                    <div class="col-md-8">
                                        <div class="card-body">
                                            <h5 class="card-title">TITRE DU JEU</h5>
                                            <p class="card-text">Key : AAAA-ZZZZ-EEEE-RRRR</p>
                                            <p class="card-text"><small class="text-muted">Acheté le</small></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card mb-3" style="max-width: 540px;">
                                <div class="row no-gutters">
                                    <div class="col-md-4">
                                        <img src="{{ asset('/default.png')}}" class="card-img" alt="...">
                                    </div>
                                    <div class="col-md-8">
                                        <div class="card-body">
                                            <h5 class="card-title">TITRE DU JEU</h5>
                                            <p class="card-text">Key : AAAA-ZZZZ-EEEE-RRRR</p>
                                            <p class="card-text"><small class="text-muted">Acheté le</small></p>
                                        </div>
                                    </div>
                                </div>
                            </div>



                        </div>
                    </div>
                </div>


                {# comments #}
                <div class="tab-pane" id="comments">
                    <div class="text-center mt-4">
                        <h3>Mes jeux achetés</h3>
                        <div class="container mt-4 row justify-content-md-center">


                            <div class="card mt-4">
                                <div class="card-header">
                                    Nom du jeu
                                </div>
                                <div class="card-body">
                                    <blockquote class="blockquote mb-0">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat
                                            a ante.</p>
                                        <p>note</p>
                                        <footer class="blockquote-footer">publié le <cite
                                                title="Source Title">date</cite></footer>
                                    </blockquote>
                                </div>
                            </div>

                            <div class="card mt-4">
                                <div class="card-header">
                                    Nom du jeu
                                </div>
                                <div class="card-body">
                                    <blockquote class="blockquote mb-0">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat
                                            a ante.</p>
                                        <p>note</p>
                                        <footer class="blockquote-footer">publié le <cite
                                                title="Source Title">date</cite></footer>
                                    </blockquote>
                                </div>
                            </div>

                            <div class="card mt-4">
                                <div class="card-header">
                                    Nom du jeu
                                </div>
                                <div class="card-body">
                                    <blockquote class="blockquote mb-0">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat
                                            a ante.</p>
                                        <p>note</p>
                                        <footer class="blockquote-footer">publié le <cite
                                                title="Source Title">date</cite></footer>
                                    </blockquote>
                                </div>
                            </div>


                        </div>
                    </div>

                </div>


            </div>
        </div>
    </div>
    {% endblock %}